<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Listed &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'core/listed/fonts/icomoon/style.css' %}">

    <link rel="stylesheet"
          href="{% static 'core/listed/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/listed/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/listed/css/jquery-ui.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/listed/css/owl.carousel.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/listed/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet"
          href="{% static 'core/listed/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet"
          href="{% static 'core/listed/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'core/listed/css/aos.css' %}">
    <link rel="stylesheet"
          href="{% static 'core/listed/css/rangeslider.css' %}">

    <link rel="stylesheet" href="{% static 'core/listed/css/style.css' %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-2 bg-white" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'core:index' %}"
                                          class="text-black h2 mb-0">Listed</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{% url 'core:index' %}"><span>Home</span></a></li>
                <li><a
                        href="{% url 'core:listings' %}"><span>Listings
                </span></a></li>

                <li class="has-children active">
                  <a href="{% url 'core:about' %}"><span>About</span></a>
                  <ul class="dropdown">
                    <li><a href="#">The Company</a></li>
                    <li><a href="#">The Leadership</a></li>
                    <li><a href="#">Philosophy</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>blogcn
                </li>

                <li class="active"><a href="{% url 'core:about' %}"><span>About</span></a></li>
                <li><a
                        href="{% url 'core:blog' %}"><span>Blog</span></a></li>
                <li><a
                        href="{% url 'core:contact' %}"><span>Contact
                </span></a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

  

    <div class="site-blocks-cover inner-page-cover overlay"
         style="background-image: url({% static 'core/listed/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10">
            
            
            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <h1 data-aos="fade-up">About Us</h1>
                <p class="mb-0" data-aos="fade-up" data-aos-delay="100">We Make You Better!</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>  


    
    

    <div class="site-section "  data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8" >
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis officiis fugiat deserunt libero.</h3>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4 mx-auto">
            <h3>Who We Are</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-4 ml-auto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eveniet laudantium dignissimos atque labore excepturi perspiciatis ut fugit eius itaque iste quibusdam dolore consectetur reprehenderit. Illum molestiae nemo culpa optio.</p>
          </div>
          <div class="col-md-4">
            <p>Similique neque facere cum! Et esse natus qui fugiat temporibus voluptate debitis similique eos illum pariatur suscipit placeat omnis perferendis ab enim quis eligendi minima explicabo aperiam. Eaque minus itaque?</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-4 text-left border-primary">
            <h2 class="font-weight-light text-primary">Popular Categories</h2>
            <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img src="{% static 'core/listed/images/person_1.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Susan Horton</h3>
            <p class="caption text-primary">Founder</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 mt-md-5">
            <img src="{% static 'core/listed/images/person_2.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Jonathan Kennedy</h3>
            <p class="caption text-primary">Founder</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img src="{% static 'core/listed/images/person_3.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Gordon Meyer</h3>
            <p class="caption text-primary">Lead Developer</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 mt-md-5">
            <img src="{% static 'core/listed/images/person_4.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Doug Hale Kennedy</h3>
            <p class="caption text-primary">ProjectManager</p>
          </div>
        </div>

      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="{% static 'core/listed/images/img_1.jpg' %}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-5 ml-auto">
            <h2 class="text-primary mb-3">Why Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptates a explicabo delectus sed labore dolor enim optio odio at!</p>
            <p class="mb-4">Adipisci dolore reprehenderit est et assumenda veritatis, ex voluptate odio consequuntur quo ipsa accusamus dicta laborum exercitationem aspernatur reiciendis perspiciatis!</p>

            <ul class="ul-check list-unstyled success">
              <li>Adipisci dolore reprehenderit</li>
              <li>Accusamus dicta laborum</li>
              <li>Delectus sed labore</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Frequently Ask Question</h2>
            <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
          </div>
        </div>


        <div class="row justify-content-center">
          <div class="col-8">
            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">How to list my item?</a>

              <div class="collapse" id="collapse-1">
                <div class="pt-2">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse voluptates deleniti, ratione, suscipit quam cumque beatae, enim mollitia voluptatum velit excepturi possimus odio dolore molestiae officiis aspernatur provident praesentium.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-4" role="button" aria-expanded="false" aria-controls="collapse-4" class="accordion-item h5 d-block mb-0">Is this available in my country?</a>

              <div class="collapse" id="collapse-4">
                <div class="pt-2">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse voluptates deleniti, ratione, suscipit quam cumque beatae, enim mollitia voluptatum velit excepturi possimus odio dolore molestiae officiis aspernatur provident praesentium.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false" aria-controls="collapse-2" class="accordion-item h5 d-block mb-0">Is it free?</a>

              <div class="collapse" id="collapse-2">
                <div class="pt-2">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse voluptates deleniti, ratione, suscipit quam cumque beatae, enim mollitia voluptatum velit excepturi possimus odio dolore molestiae officiis aspernatur provident praesentium.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-3" role="button" aria-expanded="false" aria-controls="collapse-3" class="accordion-item h5 d-block mb-0">How the system works?</a>

              <div class="collapse" id="collapse-3">
                <div class="pt-2">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti esse voluptates deleniti, ratione, suscipit quam cumque beatae, enim mollitia voluptatum velit excepturi possimus odio dolore molestiae officiis aspernatur provident praesentium.</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    
    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-2 text-white">Let's get started. Create your account</h2>
            <p class="mb-4 lead text-white-opacity-05">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p>
            <p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Products</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'core/listed/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery-ui.js' %}"></script>
  <script src="{% static 'core/listed/js/popper.min.js' %}"></script>
  <script src="{% static 'core/listed/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/listed/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'core/listed/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'core/listed/js/aos.js' %}"></script>
  <script src="{% static 'core/listed/js/rangeslider.min.js' %}"></script>
  
  <script src="{% static 'core/listed/js/main.js' %}"></script>
    
  </body>
</html>