<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Listed &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
          rel="stylesheet">
    <link href="{% static 'core/listed/fonts/icomoon/style.css' %}"
          rel="stylesheet">

    <link href="{% static 'core/listed/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'core/listed/css/magnific-popup.css' %}"
          rel="stylesheet">
    <link href="{% static 'core/listed/css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'core/listed/css/owl.carousel.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'core/listed/css/owl.theme.default.min.css' %}"
          rel="stylesheet">

    <link href="{% static 'core/listed/css/bootstrap-datepicker.css' %}"
          rel="stylesheet">

    <link href="{% static 'core/listed/fonts/flaticon/font/flaticon.css' %}"
          rel="stylesheet">

    <link href="{% static 'core/listed/css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'core/listed/css/rangeslider.css' %}"
          rel="stylesheet">

    <link href="{% static 'core/listed/css/style.css' %}" rel="stylesheet">

</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-2 bg-white" role="banner">

        <div class="container">
            <div class="row align-items-center">

                <div class="col-11 col-xl-2">
                    <h1 class="mb-0 site-logo"><a class="text-black h2 mb-0"
                                                  href="index.html">Listed</a>
                    </h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right"
                         role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a
                                    href="{% url 'core:index' %}"><span>Home
                </span></a></li>
                            <li><a href="{% url 'core:listings' %}"><span>Listings</span></a>
                            </li>
                            <li class="has-children">
                                <a href="{% url 'core:about' %}"><span>About</span></a>
                                <ul class="dropdown">
                                    <li><a href="#">The Company</a></li>
                                    <li><a href="#">The Leadership</a></li>
                                    <li><a href="#">Philosophy</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'core:blog' %}"><span>Blog</span></a>
                            </li>
                            <li><a href="{% url 'core:contact' %}"><span>Contact</span></a>
                            </li>
                            {% if request.user.is_authenticated %}
                             <li><a href="#"><span>Hi {{ user.username }}!</span></a>
                             <li><a href="{% url 'core:logout' %}"><span>logout</span></a>
                            </li>
                            {% else %}
                            <li><a href="{% url 'core:login' %}"><span>logged in</span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
                     style="position: relative; top: 3px;"><a
                        class="site-menu-toggle js-menu-toggle text-black"
                        href="#"><span
                        class="icon-menu h3"></span></a></div>

            </div>

        </div>
</div>

</header>


<div class="site-blocks-cover overlay"
     data-aos="fade"
     data-stellar-background-ratio="0.5"
     style="background-image: url({% static 'core/listed/images/hero_1.jpg' %});">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-10">


                <div class="row justify-content-center mb-4">
                    <div class="col-md-8 text-center">
                        <h1 data-aos="fade-up">Find Nearby <span
                                class="typed-words"></span></h1>
                        <p data-aos="fade-up" data-aos-delay="100">Explore
                            top-rated attractions, activities and more!</p>
                    </div>
                </div>

                <div class="form-search-wrap p-2" data-aos="fade-up"
                     data-aos-delay="200">
                    <form method="post">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-xl-3 no-sm-border border-right">
                                <div class="wrap-icon">
                                    <span class="icon icon-room"></span>
                                    <input class="form-control"
                                           placeholder="Location"
                                           type="text">
                                </div>

                            </div>
                            <div class="col-lg-12 col-xl-4 no-sm-border border-right">
                                <input class="form-control"
                                       placeholder="What are you looking for?"
                                       type="text">
                            </div>
                            <div class="col-lg-12 col-xl-3">
                                <div class="select-wrap">
                                    <span class="icon"><span
                                            class="icon-keyboard_arrow_down"></span></span>
                                    <select class="form-control" id="" name="">
                                        <option value="">Find Products Only
                                        </option>
                                        <option value="">Find all Stores
                                        </option>
                                        <option value="">Appartment</option>
                                        <option value="">Restaurant</option>
                                        <option value="">Eat &amp; Drink
                                        </option>
                                        <option value="">Events</option>
                                        <option value="">Fitness</option>
                                        <option value="">Others</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12 col-xl-2 ml-auto text-right">
                                <input class="btn btn-primary" type="submit"
                                       value="Search">
                            </div>
                            <div class="col-lg-12 col-xl-4 no-sm-border border-right text-right">
                                <p>Radius around selected destination</p>
                            </div>
                            <div class="col-lg-12 col-xl-4 no-sm-border border-right">
                                <input data-rangeslider max="100" min="0"
                                       type="range" value="20">
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="site-section" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Most Visited
                    Places</h2>
                <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img alt="Image"
                             class="img-fluid"
                             src="{% static 'core/listed/images/img_1.jpg' %}">
                    </div>
                    <div class="listing-item-content">
                        <a class="bookmark" data-placement="left"
                           data-toggle="tooltip"
                           href="#" title="Bookmark"><span
                                class="icon-heart"></span></a>
                        <a class="px-3 mb-3 category" href="#">Stores</a>
                        <h2 class="mb-1"><a href="#">Sticky Band</a></h2>
                        <span class="address">West Orange, New York</span>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img alt="Image"
                             class="img-fluid"
                             src="{% static 'core/listed/images/img_2.jpg' %}">
                    </div>
                    <div class="listing-item-content">
                        <a class="bookmark" href="#"><span
                                class="icon-heart"></span></a>
                        <a class="px-3 mb-3 category" href="#">Restaurants</a>
                        <h2 class="mb-1"><a href="#">Sticky Band</a></h2>
                        <span class="address">West Orange, New York</span>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-4">

                <div class="listing-item">
                    <div class="listing-image">
                        <img alt="Image"
                             class="img-fluid"
                             src="{% static 'core/listed/images/img_3.jpg' %}">
                    </div>
                    <div class="listing-item-content">
                        <a class="bookmark" href="#"><span
                                class="icon-heart"></span></a>
                        <a class="px-3 mb-3 category" href="#">Events</a>
                        <h2 class="mb-1"><a href="#">Sticky Band</a></h2>
                        <span class="address">West Orange, New York</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Popular
                    Categories</h2>
                <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
            </div>
        </div>

        <div class="row align-items-stretch">
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a class="popular-category h-100" href="#">
                    <span class="icon"><span
                            class="flaticon-house"></span></span>
                    <span class="caption mb-2 d-block">Appartments</span>
                    <span class="number">3,921</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a class="popular-category h-100" href="#">
                    <span class="icon"><span
                            class="flaticon-guitar"></span></span>
                    <span class="caption mb-2 d-block">Events</span>
                    <span class="number">398</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a class="popular-category h-100" href="#">
                    <span class="icon"><span
                            class="flaticon-gym"></span></span>
                    <span class="caption mb-2 d-block">Fitness</span>
                    <span class="number">1,229</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a class="popular-category h-100" href="#">
                    <span class="icon"><span
                            class="flaticon-shopping-bag"></span></span>
                    <span class="caption mb-2 d-block">Department Store</span>
                    <span class="number">32,891</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a class="popular-category h-100" href="#">
                    <span class="icon"><span
                            class="flaticon-mexican-taco"></span></span>
                    <span class="caption mb-2 d-block">Restaurants</span>
                    <span class="number">29,221</span>
                </a>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                <a class="popular-category h-100" href="#">
                    <span class="icon"><span class="flaticon-cocktail"></span></span>
                    <span class="caption mb-2 d-block">Other</span>
                    <span class="number">219</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img alt="Image"
                     class="img-fluid rounded"
                     src="{% static 'core/listed/images/img_1.jpg' %}">
            </div>
            <div class="col-md-5 ml-auto">
                <h2 class="text-primary mb-3">Why Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam voluptates a explicabo delectus sed labore dolor
                    enim optio odio at!</p>
                <p class="mb-4">Adipisci dolore reprehenderit est et assumenda
                    veritatis, ex voluptate odio consequuntur quo ipsa
                    accusamus dicta laborum exercitationem aspernatur
                    reiciendis perspiciatis!</p>

                <ul class="ul-check list-unstyled success">
                    <li>Adipisci dolore reprehenderit</li>
                    <li>Accusamus dicta laborum</li>
                    <li>Delectus sed labore</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">

        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Testimonials</h2>
            </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">
            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img alt="Image"
                             class="img-fluid mb-3"
                             src="{% static 'core/listed/images/person_3.jpg' %}">
                        <p>John Smith</p>
                    </figure>
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Consectetur unde reprehenderit
                            aperiam quaerat fugiat repudiandae explicabo animi
                            minima fuga beatae illum eligendi incidunt
                            consequatur. Amet dolores excepturi earum unde
                            iusto.&rdquo;</p>
                    </blockquote>
                </div>
            </div>
            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img alt="Image"
                             class="img-fluid mb-3"
                             src="{% static 'core/listed/images/person_2.jpg' %}">
                        <p>Christine Aguilar</p>
                    </figure>
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Consectetur unde reprehenderit
                            aperiam quaerat fugiat repudiandae explicabo animi
                            minima fuga beatae illum eligendi incidunt
                            consequatur. Amet dolores excepturi earum unde
                            iusto.&rdquo;</p>
                    </blockquote>
                </div>
            </div>

            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img alt="Image"
                             class="img-fluid mb-3"
                             src="{% static 'core/listed/images/person_4.jpg' %}">
                        <p>Robert Spears</p>
                    </figure>
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Consectetur unde reprehenderit
                            aperiam quaerat fugiat repudiandae explicabo animi
                            minima fuga beatae illum eligendi incidunt
                            consequatur. Amet dolores excepturi earum unde
                            iusto.&rdquo;</p>
                    </blockquote>
                </div>
            </div>

            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img alt="Image"
                             class="img-fluid mb-3"
                             src="{% static 'core/listed/images/person_5.jpg' %}">
                        <p>Bruce Rogers</p>
                    </figure>
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Consectetur unde reprehenderit
                            aperiam quaerat fugiat repudiandae explicabo animi
                            minima fuga beatae illum eligendi incidunt
                            consequatur. Amet dolores excepturi earum unde
                            iusto.&rdquo;</p>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Our Blog</h2>
                <p class="color-black-opacity-5">See Our Daily News &amp;
                    Updates</p>
            </div>
        </div>
        <div class="row mb-3 align-items-stretch">
            <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
                <div class="h-entry">
                    <img alt="Image"
                         class="img-fluid"
                         src="{% static 'core/listed/images/hero_1.jpg' %}">
                    <h2 class="font-size-regular"><a href="#">How To List Your
                        Property</a></h2>
                    <div class="meta mb-4">by Theresa Winston <span
                            class="mx-2">&bullet;</span> Jan 18, 2019 at 2:00
                        pm <span class="mx-2">&bullet;</span> <a
                                href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Natus eligendi nobis ea maiores sapiente veritatis
                        reprehenderit suscipit quaerat rerum voluptatibus a
                        eius.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
                <div class="h-entry">
                    <img alt="Image"
                         class="img-fluid"
                         src="{% static 'core/listed/images/hero_1.jpg' %}">
                    <h2 class="font-size-regular"><a href="#">How To List Your
                        Property</a></h2>
                    <div class="meta mb-4">by Theresa Winston <span
                            class="mx-2">&bullet;</span> Jan 18, 2019 at 2:00
                        pm <span class="mx-2">&bullet;</span> <a
                                href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Natus eligendi nobis ea maiores sapiente veritatis
                        reprehenderit suscipit quaerat rerum voluptatibus a
                        eius.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Frequently Ask
                    Question</h2>
                <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-8">
                <div class="border p-3 rounded mb-2">
                    <a aria-controls="collapse-1" aria-expanded="false"
                       class="accordion-item h5 d-block mb-0"
                       data-toggle="collapse" href="#collapse-1"
                       role="button">How to list my
                        item?</a>

                    <div class="collapse" id="collapse-1">
                        <div class="pt-2">
                            <p class="mb-0">Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Corrupti esse
                                voluptates deleniti, ratione, suscipit quam
                                cumque beatae, enim mollitia voluptatum velit
                                excepturi possimus odio dolore molestiae
                                officiis aspernatur provident praesentium.</p>
                        </div>
                    </div>
                </div>

                <div class="border p-3 rounded mb-2">
                    <a aria-controls="collapse-4" aria-expanded="false"
                       class="accordion-item h5 d-block mb-0"
                       data-toggle="collapse" href="#collapse-4"
                       role="button">Is this available
                        in my country?</a>

                    <div class="collapse" id="collapse-4">
                        <div class="pt-2">
                            <p class="mb-0">Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Corrupti esse
                                voluptates deleniti, ratione, suscipit quam
                                cumque beatae, enim mollitia voluptatum velit
                                excepturi possimus odio dolore molestiae
                                officiis aspernatur provident praesentium.</p>
                        </div>
                    </div>
                </div>

                <div class="border p-3 rounded mb-2">
                    <a aria-controls="collapse-2" aria-expanded="false"
                       class="accordion-item h5 d-block mb-0"
                       data-toggle="collapse" href="#collapse-2"
                       role="button">Is it free?</a>

                    <div class="collapse" id="collapse-2">
                        <div class="pt-2">
                            <p class="mb-0">Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Corrupti esse
                                voluptates deleniti, ratione, suscipit quam
                                cumque beatae, enim mollitia voluptatum velit
                                excepturi possimus odio dolore molestiae
                                officiis aspernatur provident praesentium.</p>
                        </div>
                    </div>
                </div>

                <div class="border p-3 rounded mb-2">
                    <a aria-controls="collapse-3" aria-expanded="false"
                       class="accordion-item h5 d-block mb-0"
                       data-toggle="collapse" href="#collapse-3"
                       role="button">How the system
                        works?</a>

                    <div class="collapse" id="collapse-3">
                        <div class="pt-2">
                            <p class="mb-0">Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Corrupti esse
                                voluptates deleniti, ratione, suscipit quam
                                cumque beatae, enim mollitia voluptatum velit
                                excepturi possimus odio dolore molestiae
                                officiis aspernatur provident praesentium.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="py-5 bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="mb-2 text-white">Let's get started. Create your
                    account</h2>
                <p class="mb-4 lead text-white-opacity-05">Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Excepturi,
                    fugit?</p>
                <p class="mb-0"><a
                        class="btn btn-outline-white text-white btn-md font-weight-bold"
                        href="booking.html">Sign
                    Up</a></p>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Products</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a class="pl-0 pr-3" href="#"><span
                                class="icon-facebook"></span></a>
                        <a class="pl-3 pr-3" href="#"><span
                                class="icon-twitter"></span></a>
                        <a class="pl-3 pr-3" href="#"><span
                                class="icon-instagram"></span></a>
                        <a class="pl-3 pr-3" href="#"><span
                                class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                <form action="#" method="post">
                    <div class="input-group mb-3">
                        <input aria-describedby="button-addon2"
                               aria-label="Enter Email"
                               class="form-control border-secondary text-white bg-transparent"
                               placeholder="Enter Email"
                               type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary text-white"
                                    id="button-addon2" type="button">Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>
                        document.write(new Date().getFullYear());
                    </script>
                        All rights reserved | This template is made with <i
                            aria-hidden="true" class="icon-heart"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
</div>

<script src="{% static 'core/listed/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'core/listed/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'core/listed/js/jquery-ui.js' %}"></script>
<script src="{% static 'core/listed/js/popper.min.js' %}"></script>
<script src="{% static 'core/listed/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/listed/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'core/listed/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'core/listed/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'core/listed/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'core/listed/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'core/listed/js/aos.js' %}"></script>
<script src="{% static 'core/listed/js/rangeslider.min.js' %}"></script>
<script src="{% static 'core/listed/js/typed.js' %}"></script>
<script>
            var typed = new Typed('.typed-words', {
            strings: ["Appartments"," Restaurants"," Hotels", " Events"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
</script>
<script src="{% static 'core/listed/js/main.js' %}"></script>
</body>
</html>