<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Listed &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'core/listed/fonts/icomoon/style.css' %}">

    <link rel="stylesheet"
          href="{% static 'core/listed/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/listed/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/listed/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'core/listed/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/listed/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'core/listed/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'core/listed/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'core/listed/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'core/listed/css/rangeslider.css' %}">

    <link rel="stylesheet" href="{% static 'core/listed/css/style.css' %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-2 bg-white" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-11 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">Listed</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{% url 'core:index' %}"><span>Home</span></a></li>
                <li class="active"><a href="{% url 'core:listings' %}"><span>
                  Listings</span></a></li>
                
                <li class="has-children">
                  <a href="{% url 'core:about' %}"><span>About</span></a>
                  <ul class="dropdown">
                    <li><a href="#">The Company</a></li>
                    <li><a href="#">The Leadership</a></li>
                    <li><a href="#">Philosophy</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'core:blog' %}"><span>Blog</span></a></li>
                <li><a
                        href="{% url 'core:contact' %}"><span>Contact</span></a></li>
              </ul>
            </nav>
          </div>


          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>

  

    <div class="site-blocks-cover inner-page-cover overlay"
         style="background-image: url({% static 'core/listed/images/img_2.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            
            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <h1>Grill &amp; Restaurants</h1>
                <p class="mb-0">Don St, Brooklyn, New York</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>  
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">

            <div class="mb-5 border-bottom pb-5">
              <img src="{% static 'core/listed/images/img_2.jpg' %}" alt="Image" class="img-fluid mb-4">

              <div class="row mb-5">
                <div class="col-md-6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit numquam expedita, exercitationem harum magni natus, mollitia, similique itaque quasi, accusamus ipsa dignissimos eos. Porro in expedita rerum nam? Voluptas, porro!</p>
                  
                </div>
                <div class="col-md-6">
                  <p>Laboriosam molestiae exercitationem eos, tempore repellendus, assumenda reprehenderit sequi accusamus aut quidem animi quis inventore ipsam ab perspiciatis, nemo? Voluptatum minus sed, temporibus quisquam cum exercitationem animi debitis perferendis perspiciatis.</p>
                </div>
              </div>

              <div class="row mb-5">
                <div class="mb-4 mb-lg-0 col-md-6 col-lg-4 ">
                  <img src="{% static 'core/listed/images/img_1.jpg' %}" alt="image" class="img-fluid">
                </div>
                <div class="mb-4 mb-lg-0 col-md-6 col-lg-4 mt-5">
                  <img src="{% static 'core/listed/images/img_2.jpg' %}" alt="image" class="img-fluid">
                </div>
                <div class="mb-4 mb-lg-0 col-md-6 col-lg-4 ">
                  <img src="{% static 'core/listed/images/img_3.jpg' %}" alt="image" class="img-fluid">
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-md-6">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit numquam expedita, exercitationem harum magni natus, mollitia, similique itaque quasi, accusamus ipsa dignissimos eos. Porro in expedita rerum nam? Voluptas, porro!</p>
                  
                </div>
                <div class="col-md-6">
                  <p>Laboriosam molestiae exercitationem eos, tempore repellendus, assumenda reprehenderit sequi accusamus aut quidem animi quis inventore ipsam ab perspiciatis, nemo? Voluptatum minus sed, temporibus quisquam cum exercitationem animi debitis perferendis perspiciatis.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <a href="#" class="btn btn-primary rounded px-4 py-3">Contact Us</a>
                </div>
              </div>
            </div>

            <h2 class="mb-5 text-primary">More Listings</h2>

            <div class="d-block d-md-flex listing-horizontal">

              <a href="#" class="img d-block"
                 style="background-image: url({% static 'core/listed/images/img_2.jpg' %})">
                <span class="category">Restaurants</span>
              </a>

              <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><a href="#">Grill and Restaurants</a></h3>
                <p>Don St, Brooklyn, New York</p>
                <p>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-secondary"></span>
                  <span>(3 Reviews)</span>
                </p>

                
              </div>

            </div>

            <div class="d-block d-md-flex listing-horizontal">

              <a href="#" class="img d-block"
                 style="background-image: url({% static 'core/listed/images/img_1.jpg' %})">
                <span class="category">Stores</span>
              </a>

              <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><a href="#">Handcrafted Products</a></h3>
                <p>Don St, Brooklyn, New York</p>
                <p>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-secondary"></span>
                  <span>(3 Reviews)</span>
                </p>

                
              </div>

            </div>

            <div class="d-block d-md-flex listing-horizontal">

              <a href="#" class="img d-block" style="background-image: url({% static 'core/listed/images/img_3.jpg' %})">
                <span class="category">Events</span>
              </a>

              <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><a href="#">Live Band</a></h3>
                <p>Don St, Brooklyn, New York</p>
                <p>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-secondary"></span>
                  <span>(3 Reviews)</span>
                </p>

                
              </div>

            </div>


            <div class="d-block d-md-flex listing-horizontal">

              <a href="#" class="img d-block"
                 style="background-image: url({% static 'core/listed/images/img_2.jpg' %})">
                <span class="category">Restaurants</span>
              </a>

              <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><a href="#">Grill and Restaurants</a></h3>
                <p>Don St, Brooklyn, New York</p>
                <p>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-secondary"></span>
                  <span>(3 Reviews)</span>
                </p>

                
              </div>

            </div>

            <div class="d-block d-md-flex listing-horizontal">

              <a href="#" class="img d-block"
                 style="background-image: url({% static 'core/listed/images/img_1.jpg' %})">
                <span class="category">Stores</span>
              </a>

              <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><a href="#">Handcrafted Products</a></h3>
                <p>Don St, Brooklyn, New York</p>
                <p>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-secondary"></span>
                  <span>(3 Reviews)</span>
                </p>

                
              </div>

            </div>

            <div class="d-block d-md-flex listing-horizontal">

              <a href="#" class="img d-block" style="background-image: url({% static 'core/listed/images/img_3.jpg' %})">
                <span class="category">Events</span>
              </a>

              <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><a href="#">Live Band</a></h3>
                <p>Don St, Brooklyn, New York</p>
                <p>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-secondary"></span>
                  <span>(3 Reviews)</span>
                </p>

                
              </div>

            </div>

            <div class="col-12 mt-5 text-center">
              <div class="custom-pagination">
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <span class="more-page">...</span>
                <a href="#">10</a>
              </div>
            </div>

          </div>
          <div class="col-lg-3 ml-auto">

            <div class="mb-5">
              <h3 class="h5 text-black mb-3">Filters</h3>
              <form action="#" method="post">
                <div class="form-group">
                  <input type="text" placeholder="What are you looking for?" class="form-control">
                </div>
                <div class="form-group">
                  <div class="select-wrap">
                      <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                      <select class="form-control" name="" id="">
                        <option value="">All Categories</option>
                        <option value="">Appartment</option>
                        <option value="">Restaurant</option>
                        <option value="">Eat &amp; Drink</option>
                        <option value="">Events</option>
                        <option value="">Fitness</option>
                        <option value="">Others</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <!-- select-wrap, .wrap-icon -->
                  <div class="wrap-icon">
                    <span class="icon icon-room"></span>
                    <input type="text" placeholder="Location" class="form-control">
                  </div>
                </div>
              </form>
            </div>
            
            <div class="mb-5">
              <form action="#" method="post">
                <div class="form-group">
                  <p>Radius around selected destination</p>
                </div>
                <div class="form-group">
                  <input type="range" min="0" max="100" value="20" data-rangeslider>
                </div>
              </form>
            </div>

            <div class="mb-5">
              <form action="#" method="post">
                <div class="form-group">
                  <p>Category 'Restaurant' is selected</p>
                  <p>More filters</p>
                </div>
                <div class="form-group">
                  <ul class="list-unstyled">
                    <li>
                      <label for="option1">
                        <input type="checkbox" id="option1">
                        Coffee
                      </label>
                    </li>
                    <li>
                      <label for="option2">
                        <input type="checkbox" id="option2">
                        Vegetarian
                      </label>
                    </li>
                    <li>
                      <label for="option3">
                        <input type="checkbox" id="option3">
                        Vegan Foods
                      </label>
                    </li>
                    <li>
                      <label for="option4">
                        <input type="checkbox" id="option4">
                        Sea Foods
                      </label>
                    </li>
                  </ul>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Popular Categories</h2>
            <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
          </div>
        </div>

        <div class="row align-items-stretch">
          <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
            <a href="#" class="popular-category h-100">
              <span class="icon"><span class="flaticon-house"></span></span>
              <span class="caption mb-2 d-block">Appartments</span>
              <span class="number">3,921</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
            <a href="#" class="popular-category h-100">
              <span class="icon"><span class="flaticon-guitar"></span></span>
              <span class="caption mb-2 d-block">Events</span>
              <span class="number">398</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
            <a href="#" class="popular-category h-100">
              <span class="icon"><span class="flaticon-gym"></span></span>
              <span class="caption mb-2 d-block">Fitness</span>
              <span class="number">1,229</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
            <a href="#" class="popular-category h-100">
              <span class="icon"><span class="flaticon-shopping-bag"></span></span>
              <span class="caption mb-2 d-block">Department Store</span>
              <span class="number">32,891</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
            <a href="#" class="popular-category h-100">
              <span class="icon"><span class="flaticon-mexican-taco"></span></span>
              <span class="caption mb-2 d-block">Restaurants</span>
              <span class="number">29,221</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
            <a href="#" class="popular-category h-100">
              <span class="icon"><span class="flaticon-cocktail"></span></span>
              <span class="caption mb-2 d-block">Other</span>
              <span class="number">219</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Products</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="{% static 'core/listed/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery-ui.js' %}"></script>
  <script src="{% static 'core/listed/js/popper.min.js' %}"></script>
  <script src="{% static 'core/listed/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'core/listed/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'core/listed/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'core/listed/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'core/listed/js/aos.js' %}"></script>
  <script src="{% static 'core/listed/js/rangeslider.min.js' %}"></script>

  <script src="{% static 'core/listed/js/main.js' %}"></script>
    
  </body>
</html>