{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!-- about part here -->
<section class="about_part section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="about_tittle">
                    <p>Mill Oil is an innovative oil filled radiator with the
                        most modern technology. If you are looking for
                        something that can make your interior look awesome, and
                        at the same time.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="single_about_part">
                    <img alt="#" src="{% static 'core/winter/img/about_img_1.png' %}">
                    <h4>About Company</h4>
                    <p>Mill Oil is an innovative oil filled radiator with the
                        most modern technology. If you are looking for
                        something that can make your interior look awesome, and
                        at the same time.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_about_part">
                    <img alt="#"
                         src="{% static 'core/winter/img/about_img_2.png' %}">
                    <h4>Philosophy</h4>
                    <p>Mill Oil is an innovative oil filled radiator with the
                        most modern technology. If you are looking for
                        something that can make your interior look awesome, and
                        at the same time.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end -->

<!-- free shipping here -->
<section class="shipping_details section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_1.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_2.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_3.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_4.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- free shipping end -->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->

{% endblock content %}

