{% load static %}
<html lang="zxx">
{% block header_static %}
{% include "core/winter/head_statics.html" %}
{% endblock header_static%}

<body class="bg-white">

{% block header_part %}
<!--::header part start::-->
{% include "core/winter/header_parts.html" %}
<!-- Header part end-->
{% endblock header_part%}

{% block bread_crum %}
<!-- breadcrumb start-->
{% include "core/winter/bread_crum.html" %}
<!-- breadcrumb start-->
{% endblock bread_crum%}

{% block content %}
{% endblock content %}

{% block footer %}

{% csrf_token %}

{% include "core/winter/footer.html" %}

<script type="text/javascript">
    // using jQuery
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

</script>

{% endblock footer %}
</body>

</html>