{% load static %}
<div class="l_w_title">
    <h3>Product filters</h3>
</div>
<div class="widgets_inner">
    <div id="brand_widgets_inner">
        <ul class="list">
            <p>Brands</p>

            {% for brand in brands_obj %}
            <li>
                <input aria-label="checkbox button for following text input"
                       id="brand_side_bar" type="checkbox"
                       value="{{brand.brandName}}">
                {{brand}}
            </li>
            {% endfor %}

        </ul>
    </div>
    <div id="color_widgets_inner">
        <ul class="list">
            <p>color</p>
            {% for color_obj in colors_obj %}
            <li>
                <input aria-label="checkbox button for following text input"
                       id="color_side_bar" type="checkbox"
                       value="{{color_obj}}">
                {{color_obj}}
            </li>
            {% endfor %}

        </ul>
    </div>
</div>