{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}

<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img alt=""
                                         src="{% static 'core/winter/img/arrivel/arrivel_1.png' %}"/>
                                </div>
                                <div class="media-body">
                                    <p>Minimalistic shop for multipurpose
                                        use</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>$360.00</h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                                  class="input-text qty input-number" />
                                <button
                                  class="increase input-number-increment items-count" type="button">
                                  <i class="ti-angle-up"></i>
                                </button>
                                <button
                                  class="reduced input-number-decrement items-count" type="button">
                                  <i class="ti-angle-down"></i>
                                </button> -->
                                <span class="input-number-decrement"> <i
                                        class="ti-minus"></i></span>
                                <input class="input-number" max="10"
                                       min="0" type="text" value="1">
                                <span class="input-number-increment"> <i
                                        class="ti-plus"></i></span>
                            </div>
                        </td>
                        <td>
                            <h5>$720.00</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img alt=""
                                         src="{% static 'core/winter/img/arrivel/arrivel_2.png' %}"/>
                                </div>
                                <div class="media-body">
                                    <p>Minimalistic shop for multipurpose
                                        use</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>$360.00</h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <span class="input-number-decrement"> <i
                                        class="ti-minus"></i></span>
                                <input class="input-number" max="10"
                                       min="0" type="text" value="1">
                                <span class="input-number-increment"> <i
                                        class="ti-plus"></i></span>
                            </div>
                        </td>
                        <td>
                            <h5>$720.00</h5>
                        </td>
                    </tr>
                    <tr class="bottom_button">
                        <td>
                            <a class="btn_1" href="#">Update Cart</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="cupon_text float-right">
                                <a class="btn_1" href="#">Close Coupon</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>$2160.00</h5>
                        </td>
                    </tr>
                    <tr class="shipping_area">
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Shipping</h5>
                        </td>
                        <td>
                            <div class="shipping_box">
                                <ul class="list">
                                    <li>
                                        Flat Rate: $5.00
                                        <input aria-label="Radio button for following text input"
                                               type="radio">
                                    </li>
                                    <li>
                                        Free Shipping
                                        <input aria-label="Radio button for following text input"
                                               type="radio">
                                    </li>
                                    <li>
                                        Flat Rate: $10.00
                                        <input aria-label="Radio button for following text input"
                                               type="radio">
                                    </li>
                                    <li class="active">
                                        Local Delivery: $2.00
                                        <input aria-label="Radio button for following text input"
                                               type="radio">
                                    </li>
                                </ul>
                                <h6>
                                    Calculate Shipping
                                    <i aria-hidden="true"
                                       class="fa fa-caret-down"></i>
                                </h6>
                                <select class="shipping_select">
                                    <option value="1">Bangladesh</option>
                                    <option value="2">India</option>
                                    <option value="4">Pakistan</option>
                                </select>
                                <select class="shipping_select section_bg">
                                    <option value="1">Select a State</option>
                                    <option value="2">Select a State</option>
                                    <option value="4">Select a State</option>
                                </select>
                                <input class="post_code" placeholder="Postcode/Zipcode"
                                       type="text"/>
                                <a class="btn_1" href="#">Update Details</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1" href="#">Continue Shopping</a>
                    <a class="btn_1 checkout_btn_1" href="#">Proceed to
                        checkout</a>
                </div>
            </div>
        </div>
</section>
<!--================End Cart Area =================-->
{% endblock content %}
