<div class="l_w_title">
    <h3>Browse Categories</h3>
</div>
<div class="widgets_inner">
    <ul class="list">
        {% for key,value in browse_categories.items %}
        {% if value %}
        <li class="sub-menu">
            <a class=" d-flex justify-content-between"
               href="#{{key}}">
                {{key}}
                <div class="right ti-plus"></div>
            </a>
            <ul>
                {% for val in value %}
                {% for sub_key,sub_value in val.items %}
                <li class="sub-menu">
                    <a class=" d-flex justify-content-between"
                       href="#{{sub_key}}">
                        {{sub_key}}
                        <div class="right ti-plus"></div>
                    </a>
                    <ul>
                        {% for ss_value in sub_value %}
                        <li>
                            <a class="select_category"
                               data-cat="{{ss_value}}" href="#{{sub_key}}">{{ss_value}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>