{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!--================Category Product Area =================-->
<section class="cat_product_area section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside
                            class="left_widgets p_filter_widgets sidebar_box_shadow"
                            id="category_side_bar">
                        {% include "core/winter/category_side_bar.html" %}
                    </aside>

                    <aside
                            class="left_widgets p_filter_widgets sidebar_box_shadow" id="brand_side_bar">
                        {% include "core/winter/brand_side_bar.html" %}
                    </aside>

                    <aside
                            class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow" id="price_side_bar">
                        {% include "core/winter/price_range_side_bar.html" %}

                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" id="product_container">
                    {% include "core/winter/products_listing.html" %}
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->

<!-- free shipping here -->
<section class="shipping_details section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_1.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_2.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_3.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_4.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- free shipping end -->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}

