{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!--================Checkout Area =================-->
<section class="checkout_area section_padding">
    <div class="container">
        <div class="returning_customer">
            <div class="check_title">
                <h2>
                    Returning Customer?
                    <a href="#">Click here to login</a>
                </h2>
            </div>
            <p>
                If you have shopped with us before, please enter your details
                in the
                boxes below. If you are a new customer, please proceed to the
                Billing & Shipping section.
            </p>
            <form action="#" class="row contact_form" method="post"
                  novalidate="novalidate">
                <div class="col-md-6 form-group p_star">
                    <input class="form-control" id="name" name="name"
                           type="text" value=" "/>
                    <span class="placeholder"
                          data-placeholder="Username or Email"></span>
                </div>
                <div class="col-md-6 form-group p_star">
                    <input class="form-control" id="password" name="password"
                           type="password" value=""/>
                    <span class="placeholder"
                          data-placeholder="Password"></span>
                </div>
                <div class="col-md-12 form-group">
                    <button class="btn_3" type="submit" value="submit">
                        log in
                    </button>
                    <div class="creat_account">
                        <input id="f-option" name="selector" type="checkbox"/>
                        <label for="f-option">Remember me</label>
                    </div>
                    <a class="lost_pass" href="#">Lost your password?</a>
                </div>
            </form>
        </div>
        <div class="cupon_area">
            <div class="check_title">
                <h2>
                    Have a coupon?
                    <a href="#">Click here to enter your code</a>
                </h2>
            </div>
            <input placeholder="Enter coupon code" type="text"/>
            <a class="tp_btn" href="#">Apply Coupon</a>
        </div>
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form action="#" class="row contact_form" method="post"
                          novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <input class="form-control" id="first" name="name"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="First name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input class="form-control" id="last" name="name"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="Last name"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" id="company"
                                   name="company" placeholder="Company name"
                                   type="text"/>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input class="form-control" id="number"
                                   name="number"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="Phone number"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input class="form-control" id="email"
                                   name="compemailany"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="Email Address"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <select class="country_select">
                                <option value="1">Country</option>
                                <option value="2">Country</option>
                                <option value="4">Country</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input class="form-control" id="add1" name="add1"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="Address line 01"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input class="form-control" id="add2" name="add2"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="Address line 02"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input class="form-control" id="city" name="city"
                                   type="text"/>
                            <span class="placeholder"
                                  data-placeholder="Town/City"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <select class="country_select">
                                <option value="1">District</option>
                                <option value="2">District</option>
                                <option value="4">District</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" id="zip" name="zip"
                                   placeholder="Postcode/ZIP" type="text"/>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input id="f-option2" name="selector"
                                       type="checkbox"/>
                                <label for="f-option2">Create an
                                    account?</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Shipping Details</h3>
                                <input id="f-option3" name="selector"
                                       type="checkbox"/>
                                <label for="f-option3">Ship to a different
                                    address?</label>
                            </div>
                            <textarea class="form-control" id="message"
                                      name="message" placeholder="Order Notes"
                                      rows="1"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li>
                                <a href="#">Product
                                    <span>Total</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fresh Blackberry
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fresh Tomatoes
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fresh Brocoli
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list list_2">
                            <li>
                                <a href="#">Subtotal
                                    <span>$2160.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Shipping
                                    <span>Flat rate: $50.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Total
                                    <span>$2210.00</span>
                                </a>
                            </li>
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input id="f-option5" name="selector"
                                       type="radio"/>
                                <label for="f-option5">Check payments</label>
                                <div class="check"></div>
                            </div>
                            <p>
                                Please send a check to Store Name, Store
                                Street, Store Town,
                                Store State / County, Store Postcode.
                            </p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input id="f-option6" name="selector"
                                       type="radio"/>
                                <label for="f-option6">Paypal </label>
                                <img alt=""
                                     src="{% static 'core/winter/img/product/single-product/card.jpg' %}' %}"/>
                                <div class="check"></div>
                            </div>
                            <p>
                                Please send a check to Store Name, Store
                                Street, Store Town,
                                Store State / County, Store Postcode.
                            </p>
                        </div>
                        <div class="creat_account">
                            <input id="f-option4" name="selector"
                                   type="checkbox"/>
                            <label for="f-option4">I’ve read and accept
                                the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <a class="btn_3" href="#">Proceed to Paypal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}

