{% load static %}
{% load  custom_tags %}
<div class="review_box">
    <h4>Post a comment</h4>
    <form action="" id="form_add_comment"
          class="row contact_form" id="contactForm"
          method="post"
          novalidate="novalidate"> {% csrf_token %}
        <div class="col-md-12">
            <div class="form-group">

                <input class="form-control" id="product_id"
                       name="product_id" placeholder="product_id" type="hidden"
                       value={{browse_products.id}}>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input class="form-control"
                       name="user_id"
                       placeholder="user id"
                       type="text" value="345"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                      <textarea class="form-control" id="message"
                                name="message" placeholder="Message"
                                rows="1"></textarea>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn_3" type="submit"
                    id="button_add_comment" value="submit">
                Submit Now
            </button>
        </div>
    </form>
</div>