{% load static %}
{% load  custom_tags %}
<div class="review_item">
    <div class="media">
        <div class="d-flex">
            <img alt=""
                 src="{% static 'core/winter/img/product/single-product/review-1.png' %}"/>
        </div>
        <div class="media-body">
            <h4>
                {{comment_obj.userId.username}}</h4>
            <h5>{% format_time comment_obj.createdDate "%Y-%m-%d %I:%M %p" %}</h5>
            <p class="reply_btn" productId={{product_id}} parent-comment-id={{parent_comment_id}}
               reply-from=345 reply-to={{comment_obj.userId.id}}>Reply</p>

        </div>
    </div>
    <p>
        {{comment_obj.commentText}}
    </p>
</div>
<div id="reply-item-{{comment_obj.id}}">
{% for reply in comment_obj.replySet %}
    {% include "core/winter/reply_lists.html" %}
{% endfor %}
</div>


<!-- Reply bootstrap model start -->
<div class="modal fade" id="replyModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send Reply</h4>
                <button class="close" data-dismiss="modal"
                        type="button">&times;
                </button>
            </div>
            <div class="modal-body">
                <form id="replyForm" action=""  method="post" novalidate="novalidate">
                    <div class="form-group">
                        <input class="form-control"
                               id="productId"
                               name="productId"
                               placeholder="product Id"
                               type="hidden"
                               value={{browse_products.id}}
                        >
                    </div>

                    <div class="form-group">
                        <input class="form-control"
                               id="parentCommentId"
                               name="parentCommentId"
                               placeholder="Parent Comment Id"
                               type="hidden"
                        value=0>
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               id="replyFrom"
                               name="replyFrom"
                               placeholder="Reply From"
                               type="hidden"
                        value=0>
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               id="replyTo"
                               name="replyTo"
                               placeholder="Reply To"
                               type="hidden"
                        value=0>
                    </div>
                    <div class="form-group">
                        <input class="form-control"
                               id="replyText"
                               name="replyText"
                               placeholder="Enter you reply"
                               type="text" value="">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"
                        type="button">Close
                </button>
                <button class="btn btn-default" id="sendReply" type="button">Send
                </button>
            </div>
        </div>

    </div>
</div>
<!-- Reply bootstrap model end -->