{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Text Sample</h3>
        <p class="sample-text">
            Every avid independent filmmaker has <b>Bold</b> about making that
            <i>Italic</i> interest documentary,
            or short
            film to show off their creative prowess. Many have great ideas and
            want to “wow”
            the<sup>Superscript</sup> scene,
            or video renters with their big project. But once you have the<sub>Subscript</sub>
            “in the can” (no easy
            feat), how
            do you move from a
            <del>Strike</del>
            through of master DVDs with the <u>“Underline”</u> marked
            hand-written title
            inside a secondhand CD case, to a pile of cardboard boxes full of
            shiny new, retail-ready DVDs, with UPC
            barcodes
            and polywrap sitting on your doorstep? You need to create
            eye-popping artwork and have your project
            replicated.
            Using a reputable full service DVD Replication company like
            PacificDisc, Inc. to partner with is
            certainly a
            helpful option to ensure a professional end result, but to help
            with your DVD replication project, here
            are 4 easy
            steps to follow for good DVD replication results:

        </p>
    </div>
</section>
<!-- End Sample Area -->

<!-- Start Button -->
<section class="button-area">
    <div class="container box_1170 border-top-generic">
        <h3 class="text-heading">Sample Buttons</h3>
        <div class="button-group-area">
            <a class="genric-btn default" href="#">Default</a>
            <a class="genric-btn primary" href="#">Primary</a>
            <a class="genric-btn success" href="#">Success</a>
            <a class="genric-btn info" href="#">Info</a>
            <a class="genric-btn warning" href="#">Warning</a>
            <a class="genric-btn danger" href="#">Danger</a>
            <a class="genric-btn link" href="#">Link</a>
            <a class="genric-btn disable" href="#">Disable</a>
        </div>
        <div class="button-group-area mt-10">
            <a class="genric-btn default-border" href="#">Default</a>
            <a class="genric-btn primary-border" href="#">Primary</a>
            <a class="genric-btn success-border" href="#">Success</a>
            <a class="genric-btn info-border" href="#">Info</a>
            <a class="genric-btn warning-border" href="#">Warning</a>
            <a class="genric-btn danger-border" href="#">Danger</a>
            <a class="genric-btn link-border" href="#">Link</a>
            <a class="genric-btn disable" href="#">Disable</a>
        </div>
        <div class="button-group-area mt-40">
            <a class="genric-btn default radius" href="#">Default</a>
            <a class="genric-btn primary radius" href="#">Primary</a>
            <a class="genric-btn success radius" href="#">Success</a>
            <a class="genric-btn info radius" href="#">Info</a>
            <a class="genric-btn warning radius" href="#">Warning</a>
            <a class="genric-btn danger radius" href="#">Danger</a>
            <a class="genric-btn link radius" href="#">Link</a>
            <a class="genric-btn disable radius" href="#">Disable</a>
        </div>
        <div class="button-group-area mt-10">
            <a class="genric-btn default-border radius" href="#">Default</a>
            <a class="genric-btn primary-border radius" href="#">Primary</a>
            <a class="genric-btn success-border radius" href="#">Success</a>
            <a class="genric-btn info-border radius" href="#">Info</a>
            <a class="genric-btn warning-border radius" href="#">Warning</a>
            <a class="genric-btn danger-border radius" href="#">Danger</a>
            <a class="genric-btn link-border radius" href="#">Link</a>
            <a class="genric-btn disable radius" href="#">Disable</a>
        </div>
        <div class="button-group-area mt-40">
            <a class="genric-btn default circle" href="#">Default</a>
            <a class="genric-btn primary circle" href="#">Primary</a>
            <a class="genric-btn success circle" href="#">Success</a>
            <a class="genric-btn info circle" href="#">Info</a>
            <a class="genric-btn warning circle" href="#">Warning</a>
            <a class="genric-btn danger circle" href="#">Danger</a>
            <a class="genric-btn link circle" href="#">Link</a>
            <a class="genric-btn disable circle" href="#">Disable</a>
        </div>
        <div class="button-group-area mt-10">
            <a class="genric-btn default-border circle" href="#">Default</a>
            <a class="genric-btn primary-border circle" href="#">Primary</a>
            <a class="genric-btn success-border circle" href="#">Success</a>
            <a class="genric-btn info-border circle" href="#">Info</a>
            <a class="genric-btn warning-border circle" href="#">Warning</a>
            <a class="genric-btn danger-border circle" href="#">Danger</a>
            <a class="genric-btn link-border circle" href="#">Link</a>
            <a class="genric-btn disable circle" href="#">Disable</a>
        </div>
        <div class="button-group-area mt-40">
            <a class="genric-btn default circle arrow" href="#">Default<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn primary circle arrow" href="#">Primary<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn success circle arrow" href="#">Success<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn info circle arrow" href="#">Info<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn warning circle arrow" href="#">Warning<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn danger circle arrow" href="#">Danger<span
                    class="lnr lnr-arrow-right"></span></a>
        </div>
        <div class="button-group-area mt-10">
            <a class="genric-btn default-border circle arrow"
               href="#">Default<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn primary-border circle arrow"
               href="#">Primary<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn success-border circle arrow"
               href="#">Success<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn info-border circle arrow" href="#">Info<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn warning-border circle arrow"
               href="#">Warning<span
                    class="lnr lnr-arrow-right"></span></a>
            <a class="genric-btn danger-border circle arrow"
               href="#">Danger<span
                    class="lnr lnr-arrow-right"></span></a>
        </div>
        <div class="button-group-area mt-40">
            <a class="genric-btn primary e-large" href="#">Extra Large</a>
            <a class="genric-btn success large" href="#">Large</a>
            <a class="genric-btn primary" href="#">Default</a>
            <a class="genric-btn success medium" href="#">Medium</a>
            <a class="genric-btn primary small" href="#">Small</a>
        </div>
        <div class="button-group-area mt-10">
            <a class="genric-btn primary-border e-large" href="#">Extra
                Large</a>
            <a class="genric-btn success-border large" href="#">Large</a>
            <a class="genric-btn primary-border" href="#">Default</a>
            <a class="genric-btn success-border medium" href="#">Medium</a>
            <a class="genric-btn primary-border small" href="#">Small</a>
        </div>
    </div>
</section>
<!-- End Button -->

<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">Left Aligned</h3>
            <div class="row">
                <div class="col-md-3">
                    <img alt=""
                         class="img-fluid"
                         src="{% static 'core/winter/img/elements/d.jpg' %}">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p>Recently, the US Federal government banned online
                        casinos from operating in America by making
                        it illegal to
                        transfer money to them through any US bank or payment
                        system. As a result of this law, most
                        of the popular
                        online casino networks such as Party Gaming and
                        PlayTech left the United States. Overnight,
                        online casino
                        players found themselves being chased by the Federal
                        government. But, after a fortnight, the
                        online casino
                        industry came up with a solution and new online casinos
                        started taking root. These began to
                        operate under a
                        different business umbrella, and by doing that,
                        rendered the transfer of money to and from
                        them legal. A major
                        part of this was enlisting electronic banking systems
                        that would accept this new
                        clarification and start doing
                        business with me. Listed in this article are the
                        electronic banking systems that accept
                        players from the United
                        States that wish to play in online casinos.</p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-right">
            <h3 class="mb-30">Right Aligned</h3>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">Over time, even the most
                        sophisticated, memory packed computer can begin
                        to run slow if we
                        don’t do something to prevent it. The reason why has
                        less to do with how computers are made
                        and how they age and
                        more to do with the way we use them. You see, all of
                        the daily tasks that we do on our PC
                        from running programs
                        to downloading and deleting software can make our
                        computer sluggish. To keep this from
                        happening, you need to
                        understand the reasons why your PC is getting slower
                        and do something to keep your PC
                        running at its best. You
                        can do this through regular maintenance and PC
                        performance optimization programs</p>
                    <p class="text-right">Before we discuss all of the things
                        that could be affecting your PC’s
                        performance, let’s
                        talk a little about what symptoms</p>
                </div>
                <div class="col-md-3">
                    <img alt=""
                         class="img-fluid"
                         src="{% static 'core/winter/img/elements/d.jpg' %}">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Definition</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Definition 01</h4>
                        <p>Recently, the US Federal government banned online
                            casinos from operating in America by
                            making it illegal to
                            transfer money to them through any US bank or
                            payment system. As a result of this law,
                            most of the popular
                            online casino networks</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Definition 02</h4>
                        <p>Recently, the US Federal government banned online
                            casinos from operating in America by
                            making it illegal to
                            transfer money to them through any US bank or
                            payment system. As a result of this law,
                            most of the popular
                            online casino networks</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Definition 03</h4>
                        <p>Recently, the US Federal government banned online
                            casinos from operating in America by
                            making it illegal to
                            transfer money to them through any US bank or
                            payment system. As a result of this law,
                            most of the popular
                            online casino networks</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Block Quotes</h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “Recently, the US Federal government banned online
                        casinos from operating in America by
                        making it illegal to
                        transfer money to them through any US bank or payment
                        system. As a result of this law, most
                        of the popular
                        online casino networks such as Party Gaming and
                        PlayTech left the United States. Overnight,
                        online casino
                        players found themselves being chased by the Federal
                        government. But, after a fortnight, the
                        online casino
                        industry came up with a solution and new online casinos
                        started taking root. These began to
                        operate under a
                        different business umbrella, and by doing that,
                        rendered the transfer of money to and from
                        them legal. A major
                        part of this was enlisting electronic banking systems
                        that would accept this new
                        clarification and start doing
                        business with me. Listed in this article are the
                        electronic banking”
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30">Table</h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial">#</div>
                        <div class="country">Countries</div>
                        <div class="visit">Visits</div>
                        <div class="percentage">Percentages</div>
                    </div>
                    <div class="table-row">
                        <div class="serial">01</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f1.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="80"
                                     class="progress-bar color-1"
                                     role="progressbar"
                                     style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">02</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f2.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="30"
                                     class="progress-bar color-2"
                                     role="progressbar"
                                     style="width: 30%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">03</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f3.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="55"
                                     class="progress-bar color-3"
                                     role="progressbar"
                                     style="width: 55%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">04</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f4.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="60"
                                     class="progress-bar color-4"
                                     role="progressbar"
                                     style="width: 60%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">05</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f5.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="40"
                                     class="progress-bar color-5"
                                     role="progressbar"
                                     style="width: 40%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">06</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f6.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="70"
                                     class="progress-bar color-6"
                                     role="progressbar"
                                     style="width: 70%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">07</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f7.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="30"
                                     class="progress-bar color-7"
                                     role="progressbar"
                                     style="width: 30%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="serial">08</div>
                        <div class="country"><img
                                alt="flag"
                                src="{% static 'core/winter/img/elements/f8.jpg' %}">Canada
                        </div>
                        <div class="visit">645032</div>
                        <div class="percentage">
                            <div class="progress">
                                <div aria-valuemax="100"
                                     aria-valuemin="0" aria-valuenow="60"
                                     class="progress-bar color-8"
                                     role="progressbar"
                                     style="width: 60%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3>Image Gallery</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a class="img-pop-up img-gal" href="img/elements/g1.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g1.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="img-pop-up img-gal" href="img/elements/g2.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g2.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="img-pop-up img-gal" href="img/elements/g3.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g3.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="img-pop-up img-gal" href="img/elements/g4.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g4.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="img-pop-up img-gal" href="img/elements/g5.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g5.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="img-pop-up img-gal" href="img/elements/g6.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g6.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="img-pop-up img-gal" href="img/elements/g7.jpg"">
                    <div class=" single-gallery-image"
                         style="background: url(img/elements/g7.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="img-pop-up img-gal" href="img/elements/g8.jpg">
                        <div class="single-gallery-image"
                             style="background: url(img/elements/g8.jpg);"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="mb-20">Image Gallery</h3>
                    <div class="typography">
                        <h1>This is header 01</h1>
                        <h2>This is header 02</h2>
                        <h3>This is header 03</h3>
                        <h4>This is header 04</h4>
                        <h5>This is header 01</h5>
                        <h6>This is header 01</h6>
                    </div>
                </div>
                <div class="col-md-4 mt-sm-30">
                    <h3 class="mb-20">Unordered List</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Fta Keys</li>
                            <li>For Women Only Your Computer Usage</li>
                            <li>Facts Why Inkjet Printing Is Very Appealing
                                <ul>
                                    <li>Addiction When Gambling Becomes
                                        <ul>
                                            <li>Protective Preventative
                                                Maintenance
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Dealing With Technical Support 10 Useful Tips
                            </li>
                            <li>Make Myspace Your Best Designed Space</li>
                            <li>Cleaning And Organizing Your Computer</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-sm-30">
                    <h3 class="mb-20">Ordered List</h3>
                    <div class="">
                        <ol class="ordered-list">
                            <li><span>Fta Keys</span></li>
                            <li><span>For Women Only Your Computer Usage</span>
                            </li>
                            <li><span>Facts Why Inkjet Printing Is Very Appealing</span>
                                <ol class="ordered-list-alpha">
                                    <li>
                                        <span>Addiction When Gambling Becomes</span>
                                        <ol class="ordered-list-roman">
                                            <li><span>Protective Preventative Maintenance</span>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li><span>Dealing With Technical Support 10 Useful Tips</span>
                            </li>
                            <li>
                                <span>Make Myspace Your Best Designed Space</span>
                            </li>
                            <li>
                                <span>Cleaning And Organizing Your Computer</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 class="mb-30">Form Element</h3>
                    <form action="#">
                        <div class="mt-10">
                            <input class="single-input" name="first_name"
                                   onblur="this.placeholder = 'First Name'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="First Name"
                                   required
                                   type="text">
                        </div>
                        <div class="mt-10">
                            <input class="single-input" name="last_name"
                                   onblur="this.placeholder = 'Last Name'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Last Name"
                                   required type="text">
                        </div>
                        <div class="mt-10">
                            <input class="single-input" name="last_name"
                                   onblur="this.placeholder = 'Last Name'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Last Name"
                                   required type="text">
                        </div>
                        <div class="mt-10">
                            <input class="single-input" name="EMAIL"
                                   onblur="this.placeholder = 'Email address'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Email address"
                                   required type="email">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i aria-hidden="true"
                                                 class="fa fa-thumb-tack"></i>
                            </div>
                            <input class="single-input" name="address"
                                   onblur="this.placeholder = 'Address'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Address"
                                   required type="text">
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i aria-hidden="true"
                                                 class="fa fa-plane"></i></div>
                            <div class="form-select" id="default-select">
                                <select>
                                    <option value=" 1">City</option>
                                    <option value="1">Dhaka</option>
                                    <option value="1">Dilli</option>
                                    <option value="1">Newyork</option>
                                    <option value="1">Islamabad</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group-icon mt-10">
                            <div class="icon"><i aria-hidden="true"
                                                 class="fa fa-globe"></i></div>
                            <div class="form-select" id="default-select_1">
                                <select>
                                    <option value=" 1">Country</option>
                                    <option value="1">Bangladesh</option>
                                    <option value="1">India</option>
                                    <option value="1">England</option>
                                    <option value="1">Srilanka</option>
                                </select>
                            </div>
                        </div>

                        <div class="mt-10">
							<textarea class="single-textarea"
                                      onblur="this.placeholder = 'Message'"
                                      onfocus="this.placeholder = ''"
                                      placeholder="Message"
                                      required></textarea>
                        </div>
                        <!-- For Gradient Border Use -->
                        <!-- <div class="mt-10">
                                        <div class="primary-input">
                                            <input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
                                            <label for="primary-input"></label>
                                        </div>
                                    </div> -->
                        <div class="mt-10">
                            <input class="single-input-primary"
                                   name="first_name"
                                   onblur="this.placeholder = 'Primary color'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Primary color"
                                   required
                                   type="text">
                        </div>
                        <div class="mt-10">
                            <input class="single-input-accent"
                                   name="first_name"
                                   onblur="this.placeholder = 'Accent color'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Accent color"
                                   required
                                   type="text">
                        </div>
                        <div class="mt-10">
                            <input class="single-input-secondary"
                                   name="first_name"
                                   onblur="this.placeholder = 'Secondary color'"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Secondary color"
                                   required
                                   type="text">
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-4 mt-sm-30">
                    <div class="single-element-widget">
                        <h3 class="mb-30">Switches</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample Switch</p>
                            <div class="primary-switch">
                                <input id="default-switch" type="checkbox">
                                <label for="default-switch"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color Switch</p>
                            <div class="primary-switch">
                                <input checked id="primary-switch"
                                       type="checkbox">
                                <label for="primary-switch"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color Switch</p>
                            <div class="confirm-switch">
                                <input checked id="confirm-switch"
                                       type="checkbox">
                                <label for="confirm-switch"></label>
                            </div>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Selectboxes</h3>
                        <div class="default-select" id="default-select_2">
                            <select>
                                <option value=" 1">English</option>
                                <option value="1">Spanish</option>
                                <option value="1">Arabic</option>
                                <option value="1">Portuguise</option>
                                <option value="1">Bengali</option>
                            </select>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Checkboxes</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample Checkbox</p>
                            <div class="primary-checkbox">
                                <input id="default-checkbox" type="checkbox">
                                <label for="default-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color Checkbox</p>
                            <div class="primary-checkbox">
                                <input checked id="primary-checkbox"
                                       type="checkbox">
                                <label for="primary-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color Checkbox</p>
                            <div class="confirm-checkbox">
                                <input id="confirm-checkbox" type="checkbox">
                                <label for="confirm-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>04. Disabled Checkbox</p>
                            <div class="disabled-checkbox">
                                <input disabled id="disabled-checkbox"
                                       type="checkbox">
                                <label for="disabled-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>05. Disabled Checkbox active</p>
                            <div class="disabled-checkbox">
                                <input checked
                                       disabled id="disabled-checkbox-active"
                                       type="checkbox">
                                <label for="disabled-checkbox-active"></label>
                            </div>
                        </div>
                    </div>
                    <div class="single-element-widget mt-30">
                        <h3 class="mb-30">Radios</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample radio</p>
                            <div class="primary-radio">
                                <input id="default-radio" type="checkbox">
                                <label for="default-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color radio</p>
                            <div class="primary-radio">
                                <input checked id="primary-radio"
                                       type="checkbox">
                                <label for="primary-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color radio</p>
                            <div class="confirm-radio">
                                <input checked id="confirm-radio"
                                       type="checkbox">
                                <label for="confirm-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>04. Disabled radio</p>
                            <div class="disabled-radio">
                                <input disabled id="disabled-radio"
                                       type="checkbox">
                                <label for="disabled-radio"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>05. Disabled radio active</p>
                            <div class="disabled-radio">
                                <input checked
                                       disabled id="disabled-radio-active"
                                       type="checkbox">
                                <label for="disabled-radio-active"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}
