{% load static %}
<!--::footer_part start::-->
<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Category</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Male</a></li>
                        <li><a href="#">Female</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href="#">Fashion</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Company</h4>
                    <ul class="list-unstyled">
                        <li><a href="">About</a></li>
                        <li><a href="">News</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Address</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">200, Green block, NewYork</a></li>
                        <li><a href="#">+10 456 267 1678</a></li>
                        <li><span>contact89@winter.com</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_footer_part">
                    <h4>Newsletter</h4>
                    <div id="mc_embed_signup">
                        <form action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              class="subscribe_form relative mail_part"
                              method="get"
                              target="_blank">
                            <input class="placeholder hide-on-focus"
                                   id="newsletter-form-email"
                                   name="email"
                                   onblur="this.placeholder = ' Email Address '"
                                   onfocus="this.placeholder = ''"
                                   placeholder="Email Address"
                                   type="email">
                            <button class="email_icon newsletter-submit button-contactForm"
                                    id="newsletter-submit"
                                    name="submit"
                                    type="submit">
                                subscribe
                            </button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                    <div class="social_icon">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="copyright_text">
                    <P>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>
                        document.write(new Date().getFullYear());

                    </script>
                        All rights reserved | This template is made with <i
                            aria-hidden="true" class="ti-heart"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </P>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->

<!-- jquery plugins here-->
<script src="{% static 'core/winter/js/jquery-1.12.1.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- popper js -->
<script src="{% static 'core/winter/js/popper.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'core/winter/js/bootstrap.min.js' %}"></script>
<!-- easing js -->
<script src="{% static 'core/winter/js/jquery.magnific-popup.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'core/winter/js/lightslider.min.js' %}"></script>
<!-- swiper js -->
<script src="{% static 'core/winter/js/swiper.min.js' %}"></script>
<script src="{% static 'core/winter/js/mixitup.min.js' %}"></script>
<script src="{% static 'core/winter/js/price_rangs.js' %}"></script>

<script src="{% static 'core/winter/js/lightslider.min.js' %}"></script>
<!-- particles js -->
<script src="{% static 'core/winter/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'core/winter/js/jquery.nice-select.min.js' %}"></script>
<!-- slick js -->
<script src="{% static 'core/winter/js/slick.min.js' %}"></script>
<script src="{% static 'core/winter/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'core/winter/js/waypoints.min.js' %}"></script>
<script src="{% static 'core/winter/js/contact.js' %}"></script>
<script src="{% static 'core/winter/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'core/winter/js/jquery.form.js' %}"></script>
<script src="{% static 'core/winter/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'core/winter/js/mail-script.js' %}"></script>
<!-- custom js -->
<script src="{% static 'core/winter/js/custom.js' %}"></script>
<script src="{% static 'core/common/js/common.js' %}"></script>
<script src="{% static 'core/common/js/shop_category.js' %}"></script>

