{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">
    <title>winter</title>
    <link href="{% static 'core/winter/img/favicon.png' %}" rel="icon">
    <!--    jquery -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
          rel="stylesheet">
    <link href="//code.jquery.com/resources/demos/style.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{% static 'core/winter/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <!-- animate CSS -->
    <link href="{% static 'core/winter/css/lightslider.min.css' %}"
          rel="stylesheet">

    <link href="{% static 'core/winter/css/animate.css' %}" rel="stylesheet">
    <!-- owl carousel CSS -->
    <link href="{% static 'core/winter/css/owl.carousel.min.css' %}"
          rel="stylesheet">
    <!-- font awesome CSS -->
    <link href="{% static 'core/winter/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'core/winter/css/nice-select.css' %}"
          rel="stylesheet">
    <!-- flaticon CSS -->
    <link href="{% static 'core/winter/css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'core/winter/css/themify-icons.css' %}"
          rel="stylesheet">
    <!-- font awesome CSS -->
    <link href="{% static 'core/winter/css/magnific-popup.css' %}"
          rel="stylesheet">
    <!-- swiper CSS -->
    <link href="{% static 'core/winter/css/slick.css' %}" rel="stylesheet">
    <!-- swiper CSS -->
    <link href="{% static 'core/winter/css/price_rangs.css' %}"
          rel="stylesheet">
    <!-- style CSS -->
    <link href="{% static 'core/winter/css/style.css' %}" rel="stylesheet">

    <link href="{% static 'core/common/css/common.css' %}" rel="stylesheet">


</head>