{% load static %}
<header class="main_menu home_menu">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-11">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'core:index' %}"> <img
                            alt="logo"
                            src="{% static 'core/winter/img/logo.png' %}"> </a>
                    <button aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-target="#navbarSupportedContent"
                            data-toggle="collapse"
                            type="button">
                        <span class="menu_icon"><i
                                class="fas fa-bars"></i></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:index' %}">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a aria-expanded="false"
                                   aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="{% url 'core:blog' %}"
                                   id="navbarDropdown_1" role="button">
                                    Shop
                                </a>
                                <div aria-labelledby="navbarDropdown_1"
                                     class="dropdown-menu">
                                    <a class="dropdown-item"
                                       href="{% url 'core:product_listings' %}">
                                        shop
                                        category</a>


                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a aria-expanded="false"
                                   aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="{% url 'core:blog' %}"
                                   id="navbarDropdown_3" role="button">
                                    pages
                                </a>
                                <div aria-labelledby="navbarDropdown_2"
                                     class="dropdown-menu">
                                    <a class="dropdown-item"
                                       href="{% url 'core:login' %}">
                                        login

                                    </a>
                                    <a class="dropdown-item"
                                       href="{% url 'core:tracking' %}">
                                        tracking</a>
                                    <a class="dropdown-item"
                                       href="{% url 'core:checkout' %}">product
                                        checkout</a>
                                    <a class="dropdown-item"
                                       href="{% url 'core:cart' %}">shopping
                                        cart</a>
                                    <a class="dropdown-item"
                                       href="{% url 'core:confirmation' %}">
                                        confirmation</a>
                                    <a class="dropdown-item"
                                       href="{% url 'core:elements' %}">
                                        elements</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a aria-expanded="false"
                                   aria-haspopup="true"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="{% url 'core:blog' %}"
                                   id="navbarDropdown_2" role="button">
                                    blog
                                </a>
                                <div aria-labelledby="navbarDropdown_2"
                                     class="dropdown-menu">
                                    <a class="dropdown-item"
                                       href="{% url 'core:blog' %}">
                                        blog</a>
                                    <a class="dropdown-item"
                                       href="{% url 'core:single_blog' %}">Single blog</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'core:contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hearer_icon d-flex">
                        <div class="dropdown cart">
                            <a aria-expanded="false" aria-haspopup="true"
                               class="dropdown-toggle" data-toggle="dropdown"
                               href="{% url 'core:index' %}"
                               id="navbarDropdown3"
                               role="button">
                                <i class="ti-bag"></i>
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div class="single_product">

                                </div>
                            </div> -->
                        </div>
                        <a href="javascript:void(0)" id="search_1"><i
                                class="ti-search"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container ">
            <form class="d-flex justify-content-between search-inner">
                <input class="form-control" id="search_input"
                       placeholder="Search Here"
                       type="text">
                <button class="btn" type="submit"></button>
                <span class="ti-close" id="close_search"
                      title="Close Search"></span>
            </form>
        </div>
    </div>
</header>