{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!--================login_part Area =================-->
<div class="login-page">
    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                </button>
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    {% else %}
                    {{ message.tags|title }}
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>
        {% endfor %}
    <div class="form">
        <form action="{% url 'core:signup' %}" method="POST" class="register-form">
            {% csrf_token %}
            <input type="text" placeholder="UserName" name="username"/>
            <input type="text" placeholder="FirstName" name="first_name"/>
            <input type="text" placeholder="LastName" name="last_name"/>
            <input type="text" placeholder="Email" name="email"/>
            <input type="password" placeholder="Password" name="password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form action="{% url 'core:login' %}" method="POST" class="login-form">
            {% csrf_token %}
            <input type="text" placeholder="UserName" name="username"/>
            <input type="password" placeholder="Password" name="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>
<!--================login_part end =================-->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}

