{% load static %}
<div class="l_w_title">
    <h3>Price Filter</h3>
</div>
<div class="widgets_inner">
    <div class="range_item" id="price_slider">
        <p>
            <input id="amount" readonly
                   style="border:0; color:#f6931f; font-weight:bold;"
                   type="text">
        </p>

        <div id="slider-range"></div>
    </div>
</div>