{% load static %}

<div class="col-lg-12">
    <div class="product_top_bar d-flex justify-content-between align-items-center">
        <div class="single_product_menu product_bar_item">
            <h2>{{category_name}}
                ({{browse_products|length}})</h2>
        </div>
        <div class="product_top_bar_iner product_bar_item d-flex">
            <div class="product_bar_single">
                <select class="wide">
                    <option data-display="Default sorting">
                        Default sorting
                    </option>
                    <option value="1">Some option</option>
                    <option value="2">Another option
                    </option>
                    <option value="3">Potato</option>
                </select>
            </div>
            <div class="product_bar_single">
                <select>
                    <option data-display="Show 12">Show
                        12
                    </option>
                    <option value="1">Show 20</option>
                    <option value="2">Show 30</option>
                </select>
            </div>
        </div>
    </div>
</div>
{% for product in browse_products %}
<div class="col-lg-4 col-sm-6">
    <div class="single_category_product" id="single_category_product">
        <div class="single_category_img" id="single_category_img">
            <img id="category_img" alt=""
                 height="252" src="{{product.productImage.0.imageString}}"
                 width="42" prodid="{{product.id}}">
            <div class="category_social_icon">
                <ul>
                    <li><a href="#"><i
                            class="ti-heart"></i></a></li>
                    <li><a href="#"><i class="ti-bag"></i></a>
                    </li>
                </ul>
            </div>
            <div class="category_product_text" id="category_product_text" prodid="{{product.id}}">
                <a href="{% url 'core:product_detail' product.id %}"><h5>{{product.name}}</h5></a>
                <h5>actual price: ₹ {{product.actualPrice}}</h5>
                <p>sale price: ₹ {{product.salePrice}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="col-lg-12 text-center">
    <a class="btn_2" href="#">More Items</a>
</div>


