{% load static %}
{% load  custom_tags %}

<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a aria-controls="home" aria-selected="true" class="nav-link"
                   data-toggle="tab" href="#home" id="home-tab"
                   role="tab">Description</a>
            </li>
            <li class="nav-item">
                <a aria-controls="profile" aria-selected="false"
                   class="nav-link"
                   data-toggle="tab" href="#profile" id="profile-tab"
                   role="tab">Specification</a>
            </li>
            <li class="nav-item">
                <a aria-controls="review" aria-selected="false"
                   class="nav-link active"
                   data-toggle="tab" href="#review" id="review-tab"
                   role="tab">Reviews</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contact" aria-selected="false"
                   class="nav-link"
                   data-toggle="tab" href="#contact" id="contact-tab"
                   role="tab">Comments</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade" id="home"
                 role="tabpanel">
                <p>
                    {{browse_products.descriptions}}
                </p>
            </div>
            <div aria-labelledby="profile-tab" class="tab-pane fade"
                 id="profile"
                 role="tabpanel">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        {% for pf in browse_products.pfProduct %}
                        <tr>
                            <td>
                                <h5>{{pf.parameter}}</h5>
                            </td>
                            <td>
                                <h5>{{pf.value}}</h5>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div aria-labelledby="review-tab" class="tab-pane"
                 id="review"
                 role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            {% with review_on_product=browse_products.reviewOnProduct %}

                            {% include "core/winter/review_score.html" %}

                            {% endwith %}

                        </div>
                        <div class="review_list" id="review_list">
                            {% for review in browse_products.reviewOnProduct %}

                            {% include "core/winter/review_item.html" %}

                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% include "core/winter/review_box.html" %}
                    </div>
                </div>
            </div>
            <div aria-labelledby="contact-tab" class="tab-pane fade fade show active"
                 id="contact" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list" id="comment_list">
                            {% for comment_obj in browse_products.commentOnProduct %}
                            {% with parent_comment_id=comment_obj.id  product_id=browse_products.id %}
                            {% include "core/winter/comment_item.html" %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% include "core/winter/comment_box.html" %}
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal"
                 role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close"
                                    data-dismiss="modal"
                                    type="button">
                                &times;
                            </button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                                {% include "core/winter/review_box.html" %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default"
                                    data-dismiss="modal"
                                    type="button">
                                Close
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
