{% load static %}
{% load  custom_tags %}
<div class="review_item reply">
    <div class="media">
        <div class="d-flex">
            <img alt=""
                 src="{% static 'core/winter/img/product/single-product/review-2.png' %}"/>
        </div>
        <div class="media-body">
            <h4>{{reply.user.username}}</h4>
            <h5>{% format_time reply.CREATEDDate "%Y-%m-%d %I:%M %p" %}</h5>
            <p class="reply_btn" productId={{product_id}} parent-comment-id={{parent_comment_id}}
               reply-from=345 reply-to={{comment_obj.userId.id}}>Reply</p>
        </div>
    </div>
    <p>
        {{reply.replyText}}
    </p>
</div>