{% load static %}
{% load  custom_tags %}
<div class="review_item">
    <div class="media">
        <div class="d-flex">
            <img alt=""
                 src="{% static 'core/winter/img/product/single-product/review-1.png' %}"/>
        </div>
        <div class="media-body">
            <h4>
                {{review.userId.username}}</h4>
            <h5>{% format_time review.createdDate "%Y-%m-%d %I:%M %p" %}</h5>
            {% set_review_star rating=review.rating %}
        </div>
    </div>
    <p>
        {{review.commentText}}
    </p>
</div>