{% load static %}
<div class="review_box">
    <h4>Add a Review</h4>
    <div class='rating-stars text-center'>
        <p>Your Rating:</p>

        <ul class='list' id='stars'>
            <li class='star' data-value='1' title='Poor'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' data-value='2' title='Fair'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' data-value='3' title='Good'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' data-value='4' title='Excellent'>
                <i class='fa fa-star fa-fw'></i>
            </li>
            <li class='star' data-value='5' title='WOW!!!'>
                <i class='fa fa-star fa-fw'></i>
            </li>
        </ul>
    </div>
    <form action="" class="row contact_form"
          id="form_add_review" method="post"
          novalidate="novalidate"> {% csrf_token %}
        <div class="col-md-12">
            <div class="form-group">
                <input autocomplete="off" class="form-control" id="rating"
                       name="rating"
                       placeholder="Your rating 1 to 5" type="hidden" value=""/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input class="form-control"
                       name="user_id"
                       placeholder="user id"
                       type="text" value="345"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control"
                          name="message"
                          placeholder="Review"
                          rows="1"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">

                <input class="form-control" id="product_id"
                       name="product_id" placeholder="product_id" type="hidden"
                       value={{browse_products.id}}>
            </div>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn_3" id="button_add_review" type="submit"
                    value="submit">
                Submit Now
            </button>
        </div>
    </form>
</div>

