{% load static %}
{% load  custom_tags %}

{% review_score reviewOnProduct_obj=review_on_product as star_dict %}

<div class="col-6">
    <div class="box_total">
        <h5>Overall</h5>
        <h4>{{star_dict.avg_rating}}</h4>
        <h6>({{review_on_product|length}} Reviews)</h6>
    </div>
</div>
<div class="col-6">
    <div class="rating_list">
        <h3>Based on {{review_on_product|length}} Reviews</h3>

        <ul class="list">
            {% if star_dict.5 %}
            <li>
                <a href="#">5 Star
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    {{star_dict.5}}</a>
            </li>
            {% endif %}
            {% if star_dict.4 %}
            <li>
                <a href="#">4 Star
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    {{star_dict.4}}</a>
            </li>
            {% endif %}
            {% if star_dict.3 %}
            <li>
                <a href="#">3 Star
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star"> </span>
                    {{star_dict.3}}</a>
            </li>
            {% endif %}
            {% if star_dict.2 %}
            <li>
                <a href="#">2 Star
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star"> </span>
                    {{star_dict.2}}</a>
            </li>
            {% endif %}
            {% if star_dict.1 %}
            <li>
                <a href="#">1 Star
                    <span class="fa fa-star checked "> </span>
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star"> </span>
                    <span class="fa fa-star"> </span>
                    {{star_dict.1}}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>