{% extends "core/winter/base.html" %}
{% load static %}

{% block content %}
<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-5">
                <div class="product_slider_img">
                    <div id="vertical">
                        {% for img in browse_products.productImage %}
                        <div data-thumb="{{img.imageString}}">
                            <img src="{{img.imageString}}"/>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{browse_products.name}}</h3>
                    <h2>₹ {{browse_products.salePrice}}</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Category</span> :
                                {{browse_products.category.categoryName}}</a>
                        </li>
                        <li>
                            {% if browse_products.quantity %}
                            <a href="#"> <span>Availibility</span> :
                                {{browse_products.quantity}}</a>
                            {% else %}
                            <a href="#"> <span>Availibility</span> : Out of
                                Stock</a>
                            {% endif %}

                        </li>
                    </ul>
                    <p>
                        {{browse_products.descriptions}}
                    </p>
                    <div class="card_area">
                        <div class="product_count d-inline-block">
                            <span class="inumber-decrement"> <i
                                    class="ti-minus"></i></span>
                            <input class="input-number" max="10" min="0"
                                   type="text" value="1">
                            <span class="number-increment"> <i
                                    class="ti-plus"></i></span>
                        </div>
                        <div class="add_to_cart">
                            <a class="btn_3" href="#">add to cart</a>
                            <a class="like_us" href="#"> <i
                                    class="ti-heart"></i> </a>
                        </div>
                        <div class="social_icon">
                            <a class="fb" href="#"><i
                                    class="ti-facebook"></i></a>
                            <a class="tw" href="#"><i
                                    class="ti-twitter-alt"></i></a>
                            <a class="li" href="#"><i
                                    class="ti-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
{% include "core/winter/product_description.html" %}
<!--================End Product Description Area =================-->

<!-- product_list part start-->
<section class="product_list best_seller padding_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Best Sellers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_category_product">
                    <div class="single_category_img">
                        <img alt=""
                             src="{% static 'core/winter/img/category/category_2.png' %}">
                        <div class="category_social_icon">
                            <ul>
                                <li><a href="#"><i class="ti-heart"></i></a>
                                </li>
                                <li><a href="#"><i class="ti-bag"></i></a></li>
                            </ul>
                        </div>
                        <div class="category_product_text">
                            <a href="single-product.html"><h5>Long Sleeve
                                TShirt</h5></a>
                            <p>$150.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_category_product">
                    <div class="single_category_img">
                        <img alt=""
                             src="{% static 'core/winter/img/category/category_3.png' %}">
                        <div class="category_social_icon">
                            <ul>
                                <li><a href="#"><i class="ti-heart"></i></a>
                                </li>
                                <li><a href="#"><i class="ti-bag"></i></a></li>
                            </ul>
                        </div>
                        <div class="category_product_text">
                            <a href="single-product.html"><h5>Long Sleeve
                                TShirt</h5></a>
                            <p>$150.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_category_product">
                    <div class="single_category_img">
                        <img alt=""
                             src="{% static 'core/winter/img/category/category_4.png' %}">
                        <div class="category_social_icon">
                            <ul>
                                <li><a href="#"><i class="ti-heart"></i></a>
                                </li>
                                <li><a href="#"><i class="ti-bag"></i></a></li>
                            </ul>
                        </div>
                        <div class="category_product_text">
                            <a href="single-product.html"><h5>Long Sleeve
                                TShirt</h5></a>
                            <p>$150.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_category_product">
                    <div class="single_category_img">
                        <img alt=""
                             src="{% static 'core/winter/img/category/category_5.png' %}">
                        <div class="category_social_icon">
                            <ul>
                                <li><a href="#"><i class="ti-heart"></i></a>
                                </li>
                                <li><a href="#"><i class="ti-bag"></i></a></li>
                            </ul>
                        </div>
                        <div class="category_product_text">
                            <a href="single-product.html"><h5>Long Sleeve
                                TShirt</h5></a>
                            <p>$150.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product_list part end-->

<!-- shipping details part end-->
<section class="shipping_details section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_1.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_2.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_3.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img alt=""
                         src="{% static 'core/winter/img/icon/icon_4.png' %}">
                    <h4>Free shipping</h4>
                    <p>Divided face for bearing the divide unto seed winged
                        divided light Forth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shipping details part end-->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}

