{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img alt=""
                             class="img-fluid"
                             src="{% static 'core/winter/img/blog/single_blog_1.png' %}">
                    </div>
                    <div class="blog_details">
                        <h2>Second divided from form fish beast made every of
                            seas
                            all gathered us saying he our
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i> Travel,
                                Lifestyle</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> 03
                                Comments</a></li>
                        </ul>
                        <p class="excert">
                            MCSE boot camps have its supporters and its
                            detractors. Some people do not understand why you
                            should have to spend money on boot camp when you
                            can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the
                            willpower
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its
                            detractors. Some people do not understand why you
                            should have to spend money on boot camp when you
                            can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the
                            willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower
                            to actually
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                MCSE boot camps have its supporters and its
                                detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when
                                you can get the MCSE study materials yourself
                                at
                                a fraction of the camp price. However, who has
                                the willpower to actually sit through a
                                self-imposed MCSE training.
                            </div>
                        </div>
                        <p>
                            MCSE boot camps have its supporters and its
                            detractors. Some people do not understand why you
                            should have to spend money on boot camp when you
                            can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the
                            willpower
                        </p>
                        <p>
                            MCSE boot camps have its supporters and its
                            detractors. Some people do not understand why you
                            should have to spend money on boot camp when you
                            can get the MCSE study materials yourself at a
                            fraction of the camp price. However, who has the
                            willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower
                            to actually
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i
                                class="far fa-heart"></i></span> Lily and 4
                            people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i
                                    class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-behance"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div
                                    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img alt=""
                                             class="img-fluid"
                                             src="{% static 'core/winter/img/post/preview.png' %}">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="#">
                                        <h4>Space The Final Frontier</h4>
                                    </a>
                                </div>
                            </div>
                            <div
                                    class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="#">
                                        <h4>Telescopes 101</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img alt=""
                                             class="img-fluid"
                                             src="{% static 'core/winter/img/post/next.png' %}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img alt=""
                             src="{% static 'core/winter/img/blog/author.png' %}">
                        <div class="media-body">
                            <a href="#">
                                <h4>Harvard milan</h4>
                            </a>
                            <p>Second divided from form fish beast made. Every
                                of seas all gathered use saying you're, he
                                our dominion twon Second divided from</p>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img alt=""
                                         src="{% static 'core/winter/img/comment/comment_1.png' %}">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Multiply sea night grass fourth day sea
                                        lesser rule open subdue female fill
                                        which them
                                        Blessed, give fill lesser bearing
                                        multiply sea night grass fourth day sea
                                        lesser
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Emilly Blunt</a>
                                            </h5>
                                            <p class="date">December 4, 2017 at
                                                3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a class="btn-reply text-uppercase"
                                               href="#">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img alt=""
                                         src="{% static 'core/winter/img/comment/comment_2.png' %}">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Multiply sea night grass fourth day sea
                                        lesser rule open subdue female fill
                                        which them
                                        Blessed, give fill lesser bearing
                                        multiply sea night grass fourth day sea
                                        lesser
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Emilly Blunt</a>
                                            </h5>
                                            <p class="date">December 4, 2017 at
                                                3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a class="btn-reply text-uppercase"
                                               href="#">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img alt=""
                                         src="{% static 'core/winter/img/comment/comment_3.png' %}">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Multiply sea night grass fourth day sea
                                        lesser rule open subdue female fill
                                        which them
                                        Blessed, give fill lesser bearing
                                        multiply sea night grass fourth day sea
                                        lesser
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Emilly Blunt</a>
                                            </h5>
                                            <p class="date">December 4, 2017 at
                                                3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a class="btn-reply text-uppercase"
                                               href="#">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form action="#" class="form-contact comment_form"
                          id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                              <textarea class="form-control w-100"
                                        cols="30" id="comment" name="comment"
                                        placeholder="Write Comment"
                                        rows="9"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" id="name"
                                           name="name" placeholder="Name"
                                           type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" id="email"
                                           name="email" placeholder="Email"
                                           type="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" id="website"
                                           name="website" placeholder="Website"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <a class="btn_3 button-contactForm" href="#">Send
                                Message</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input class="form-control"
                                           onblur="this.placeholder = 'Search Keyword'"
                                           onfocus="this.placeholder = ''"
                                           placeholder='Search Keyword'
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i
                                                class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Search
                            </button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a class="d-flex" href="#">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex" href="#">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex" href="#">
                                    <p>Modern technology</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex" href="#">
                                    <p>Product</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex" href="#">
                                    <p>Inspiration</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex" href="#">
                                    <p>Health Care</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="media post_item">
                            <img alt="post"
                                 src="{% static 'core/winter/img/post/post_1.png' %}">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>From life was you fish...</h3>
                                </a>
                                <p>January 12, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img alt="post"
                                 src="{% static 'core/winter/img/post/post_2.png' %}">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>The Amazing Hubble</h3>
                                </a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img alt="post"
                                 src="{% static 'core/winter/img/post/post_3.png' %}">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Astronomy Or Astrology</h3>
                                </a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img alt="post"
                                 src="{% static 'core/winter/img/post/post_4.png' %}">
                            <div class="media-body">
                                <a href="single-blog.html">
                                    <h3>Asteroids telescope</h3>
                                </a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img alt=""
                                         class="img-fluid"
                                         src="{% static 'core/winter/img/post/post_5.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt=""
                                         class="img-fluid"
                                         src="{% static 'core/winter/img/post/post_6.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt=""
                                         class="img-fluid"
                                         src="{% static 'core/winter/img/post/post_7.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt=""
                                         class="img-fluid"
                                         src="{% static 'core/winter/img/post/post_8.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt=""
                                         class="img-fluid"
                                         src="{% static 'core/winter/img/post/post_9.png' %}">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt=""
                                         class="img-fluid"
                                         src="{% static 'core/winter/img/post/post_10.png' %}">
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <form action="#">
                            <div class="form-group">
                                <input class="form-control"
                                       onblur="this.placeholder = 'Enter email'"
                                       onfocus="this.placeholder = ''"
                                       placeholder='Enter email'
                                       required type="email">
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Subscribe
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area end =================-->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}

