{% extends "core/winter/base.html" %}
{% load static %}
{% block content %}
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="tracking_box_inner">
                    <p>To track your order please enter your Order ID in the
                        box below and press the "Track" button. This was
                        given
                        to you on your receipt and in the confirmation email
                        you should have received.</p>
                    <form action="#" class="row tracking_form" method="post"
                          novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input class="form-control" id="order" name="order"
                                   placeholder="Order ID" type="text">
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" id="email" name="email"
                                   placeholder="Billing Email Address"
                                   type="email">
                        </div>
                        <div class="col-md-12 form-group">
                            <button class="btn_3" type="submit" value="submit">
                                Track Order
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>
<!--================End Tracking Box Area =================-->

<!-- subscribe_area part start-->
<section class="instagram_photo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram_photo_iner">
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_1.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_2.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_3.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_4.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                    <div class="single_instgram_photo">
                        <img alt=""
                             src="{% static 'core/winter/img/instagram/inst_5.png' %}">
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content %}

